data/
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.ipynb_checkpoints/
.env
.venv/
logs/
vendor/gspan-cpp/gSpan
vendor/gspan-cpp/*.o
vendor/gspan-cpp/graph.data
vendor/gspan-cpp/out.txt
vendor/gspan-cpp/in.txt
